<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synative.purchase.plugin">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="78"/>
        <meta-data
            android:name="xposeddescription"
            android:value="gpurchase"/>
    </application>
</manifest>
